
.square {
  border: 1px solid #999;
  float: left;
  height: 12vh;
  padding: 0;
  text-align: center;
  width: 10vw;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.information-display {
  font-size: 2vh;
}

.ground {
  background: green;
}

.water {
  background: blue;
}

.trap {
  background: grey;
}

.den {
  background: white;
}

.piece {
  height: 90%;
  width: 90%;
}