
.square {
  box-sizing: border-box;
  float: left;
  height: 12vh;
  padding: 0;
  text-align: center;
  width: 10vw;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.information-display {
  font-size: 2vh;
}

.ground {
  background-image: url(./grass.png);
}

.ground2 {
  background-image: url(./grass2.jpeg);
}

.water {
  background-image: url(./water.gif);
}

.trap {
  background: grey;
}

.den1 {
  background-image: url(./dungeon1.jpeg);
}

.den2 {
  background-image: url(./dungeon2.jpg);
}

.animal {
  height: 90%;
  width: 90%;
}

.highlight {
  border: 2px solid yellow;
}

